body {
margin: 0;
}

header {
    background: rgba(255, 255, 255, 1);
display: flex;
flex-wrap: nowrap;
width: 320px;
height: 88px;
row-gap: 16px;
column-gap: 24px;
}

.button-icon-menu,
.company-logo {
display: flex;
justify-content: left;
align-items: center;
}

.icon-repair,
.icon-checkstatus {
display: flex;
justify-content: right;
align-items: center;
}

button {
background: transparent;
border: 0;
}

main {
width: 320px;
height: 509px;
background: rgba(248, 248, 248, 1);
}

.columns-selector li {
    white-space: nowrap;
display: inline;
}

h1 {
    margin: 0;
}







@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Regular.eot');
    src: local('TT Lakes Compressed Regular'), local('TTLakesCompressed-Regular'),
        url('TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCompressed-Regular.woff') format('woff'),
        url('TTLakesCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.custom-font {
font-family: "TT Lakes Compressed", Arial, sans-seref;
}